    
*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
header{
    padding: 1%;
    background: #999;
    color: #fff;
}
.searchEmployee .textCenter{
      text-align: center; 
}
.employeeformbc{
    background: #f2f2f2;
    padding: 1%;
    margin: 1%;
    border: 1px solid;
}
[disabled = "disabled"]{
    opacity: 0.5;
}
.visibility-hidden{
    visibility: hidden;
}
.text-align-center{
    text-align: center;
}
.btn{
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 100;
    outline: none;
}
.btn-large{
    width: 120px;
    font-size: 25px;
}
.btn-medium{
    width: 100px;
    height: 36px;
    font-size: 15px;
}
.btn-normal{
    background-color: red;
    color: #fff;
}
.invalid{
    color: #dd0017
}

.form-control {
    padding: 10px;
}
.clear{
    clear:both;
}
.db{
    display: block;
}
.searchEmployee{
    margin: 2%;
    padding: 1%;
    border: 1px solid;
    display: inline-block;
    width: 96%;
}
